@import '~normalize.css';

// FONTS
@import './fonts.scss';

// VARIABLES
$main-color: tomato;
// INITIAL
.container {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

#babylon, #heroPreloader{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  left: 0px;
}
#heroPreloader{
  z-index: 100;
  background-color: aquamarines;
}
.inputs{
  position: fixed;
  z-index: 15;
  display: flex;
  flex-direction: column;
  padding-top: 42px;
}
.inputs input{
  overflow: visible;
  padding-top: 24px;
}
// FILES

@import 'components/main';
@import 'components/logo';
